.suggestion-box .background-image {
  background-image: url("../static/amelie.jpg");
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.active-selector {
  color: #d91f27;
}
